name: Build-Apollon-SO

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # Tự động tải GLM (Xóa sạch nợ nần với đống file 0B)
      - name: Install GLM Library
        run: |
          cd jni
          rm -rf glm
          git clone --depth 1 https://github.com/g-truc/glm.git
          echo "GLM downloaded successfully!"

      # Sử dụng NDK có sẵn trong runner (Không cần tải qua action bên ngoài)
      - name: Build with ndk-build
        run: |
          cd jni
          $ANDROID_NDK_LATEST_HOME/ndk-build
        env:
          ANDROID_NDK_HOME: ${{ env.ANDROID_NDK_LATEST_HOME }}

      # Dùng v4 để sửa lỗi "Deprecated"
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Apollon-SO
          path: libs/
