name: Build-Apollon-SO
on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install NDK (r25c)
        run: |
          sudo ${ANDROID_SDK_ROOT}/cmdline-tools/latest/bin/sdkmanager --install "ndk;25.2.9519653"
          echo "ANDROID_NDK_HOME=${ANDROID_SDK_ROOT}/ndk/25.2.9519653" >> $GITHUB_ENV

      - name: Build with ndk-build
        run: |
          cd jni
          ${ANDROID_NDK_HOME}/ndk-build
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Apollon-SO-Files
          path: libs/
