name: Build-Apollon-SO

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # Cách setup NDK mới nhất và chuẩn nhất
      - name: Setup Android NDK
        uses: nvioletti/setup-ndk@v1
        with:
          ndk-version: r25c

      # Tự động tải GLM (Giải quyết vụ 600 file và 0B)
      - name: Install GLM Library
        run: |
          cd jni
          rm -rf glm
          git clone --depth 1 https://github.com/g-truc/glm.git
          echo "GLM downloaded successfully!"

      - name: Build with ndk-build
        run: |
          cd jni
          ndk-build
        env:
          ANDROID_NDK_HOME: ${{ env.ANDROID_NDK_HOME }}

      # Dùng v4 để không bị lỗi Deprecated
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Apollon-SO
          path: libs/
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: Apollon-SO
          path: libs/
